@use "../../scss/partials/animations" as animations;

.field{
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.15rem;
    width: 100%;
    animation: fade-in 0.2s linear;

    &__bottom{
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}