@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/mixins" as mixins;

.textarea{
    width: 100%;
    border-radius: 4px;
    padding: 0.1rem 0.25rem;
    max-width: calc(100% - 0.5rem);
    color : rgba(0, 0, 0, 0.9);

    @include mixins.visible(){
        outline: 1px solid branding.$brand_color_six;
    }

    &__error{
        background-color: pink;

        @include mixins.visible(){
            outline-color: red;
        }
    }
}