@use "../../scss/partials/branding" as branding;

.liveChat {

    &__title{
        text-align: center;
    }

    &__message{
        
    }

    &__date{
        font-size: 0.7rem;
        color: branding.$brand_color_six;
    }
}