@use "../../scss/partials/branding" as branding;

.liveChat {

    &__title{
        text-align: center;
    }

    &__message{
        padding: 0 1rem;
    }

    &__date{
        font-size: 0.8rem;
        color: branding.$brand_color_six;
    }

    &__description{
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0.25rem;

        span{
            color: branding.$brand_color_six;
        }
    }

    &__icon{
        padding: 0.1rem 0.45rem 0.2rem;
        border-radius: 50%;
        border: 2px solid branding.$brand_color_six;
        margin-right: 0.5rem;
    }

    &__content{
        margin: 0 0 0 2.4rem;
    }
}