@use "./branding" as branding;

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
    ::-webkit-scrollbar-track {
    background: branding.$backdrop_color_one;
    border: 1px solid branding.$brand_color_six;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: branding.$brand_color_six;
}

/* Corner */
::-webkit-scrollbar-corner{
    background: branding.$brand_color_six;
    border: 1px solid branding.$brand_color_six;
}