@use "./branding" as branding;
@use "./animations" as animations;
@use "./mixins" as mixins;

*{
    color: white;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 { 
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5, p, a{
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

a{
    color: branding.$brand_color_six;
    transition: animations.$standard_transition;
    border-bottom: 1px solid transparent;
    text-decoration: none;

    @include mixins.state(){
        border-bottom-color: branding.$brand_color_six;
    }
}