@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/responsive" as responsive;
@use "../../scss/partials/animations" as animations;

main{
    background: branding.$backdrop_color_one;
    animation: fade-in 0.2s linear;    
    height: 100%;
    margin-top: 55px;
    min-height: calc(100vh - 55px);
}

.menu-open{

    @include responsive.breakpoint(tablet){
        margin-top: 105px;
        min-height: calc(100vh - 105px);
    }
}

.menu-closed{

    @include responsive.breakpoint(tablet){
        min-height: 100vh;
        margin-top: 0px;
        nav{
            display: none;
        }
    }
}