@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/responsive" as responsive;
@use "../../scss/partials/animations" as animations;

@use "../../scss/partials/scrollbars";

main{
    background: branding.$backdrop_color_one;
    animation: fade-in 0.2s linear;    
    height: calc(100% - 55px);
    padding-top: 55px;
}

.menu-open{

    @include responsive.breakpoint(tablet){
        height: calc(100% - 105px);
        padding-top: 105px;
    }
}

.menu-closed{

    @include responsive.breakpoint(tablet){
        min-height: 100vh;
        margin-top: 0px;
        padding-top: 0px; 
        nav{
            display: none;
        }
    }
}