@use "./scss/partials/animations" as animations;
@use "./scss/partials/typography";

*{ 
  font-size: 16px;
}

html, body, #root {
  height: 100%;
}

.app {
  text-align: center;
  animation: fade-in 0.2s linear;

  &__content{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__title{
    margin: 0.5rem 0;
  }

  &__text{
    margin: 0.5rem;
  }
}
