@use "../../scss/partials/animations" as animations;
@use "../../scss/partials/responsive" as responsive;

.post{
    animation: fade-in 0.2s linear;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    max-width: 800px;
    padding: 1rem;
    margin: auto;

    &__title{
        margin-bottom: 0.5rem;
    }

    &__image{
        object-fit: contain;
        height: 400px;

        @include responsive.breakpoint(mobile){
            width: 100%;
            object-fit: cover;
            max-height: 300px;
        }
    }
}