@use "../../scss/partials/animations" as animations;

.post{
    animation: fade-in 0.2s linear;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    max-width: 800px;
    padding: 1rem;
    margin: auto;

    &__image{
        object-fit: contain;
        height: 400px;
    }
}