@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/animations" as animations;

.paginator{

    display: flex;

    &__button{

        background-color: transparent;
        padding: 0.15rem 0.6rem 0.25rem 0.6rem;
        border: 1px solid branding.$brand_color_six;
        color: branding.$brand_color_six;
        transition: animations.$standard_transition;
        border-radius: 3px;
        cursor: pointer;
        margin: auto 0.75rem;

        &--current{
            color: rgba(0, 0, 0, 0.9);
            background-color: branding.$brand_color_six;
            cursor: no-drop;
            padding-top: 0.35rem;
            padding-bottom: 0.25rem;
        }
    }
}