@use "../../scss/partials/animations" as animations;
@use "../../scss/partials/branding" as branding;

.confirmationModalWrapper{
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    animation: animations.$standard_transition;
    position: fixed;
    display: flex;
    z-index: 3;
    height: 100vh;
    width: 100%;
    top: 0;
}

.confirmationModal{
    background: white;
    box-shadow: branding.$button_shadow;
    flex-direction: column;
    position: fixed;
    grid-row-gap: 0.75rem;
    display: flex;
    max-width: 450px;
    width: calc(100% - 4rem);
    margin: auto;
    padding: 1rem;
    border-radius: 4px;

    &__title{
        color: rgba(0, 0, 0, 0.9);
        margin: 0;
    }

    &__description{
        color: rgba(0, 0, 0, 0.9);
        margin: 0;
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        grid-column-gap: 1rem;
    }
}